<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title %></title>
</head>
<body>
	<p>hallo saya asep</p>
	<h3>Lingks</h3>
	<li>
		<a href="">Home</a>
	</li>
	<li>
		<a href="/about">About</a>
	</li>
	<li>
		<a href="/contact">Contact</a>
	</li>
	
	<h3><%=nama %></h3>

	<h4>Daftar Mahasiswa</h4>

	<% if (mahasiswa.length < 1) { %>
	<p>Data Mahasiswa Masih Kosong</p>
	<% } else { %>

	<% mahasiswa.forEach(mhs => { %>
	<ul>
		<li>Nama: <%=mhs.nama %></li>
		<li>Email: <%=mhs.email %></li>
	</ul>
<% }) %>
<% } %>

	
</body>
</html> -->

<h3>Hallo</h3>